.clipPathSection1 {
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    margin: 0;
    padding: 0;
}

.clipPathSection2 {
    margin: 0;
    padding: 0;
    clip-path: polygon(100% 0, 100% 30%, 100% 100%, 28% 100%, 0 0);
}
.custom-gradient {
    background: linear-gradient(
        coral,
        transparent
      ),
      linear-gradient(
        90deg,
        skyblue,
        transparent
      ),
      linear-gradient(
        -90deg,
        limegreen,
        transparent
      );
  }