.socialContainer {
    display: flex;
    justify-content: center;
  }
  
  .socialList {
    display: flex;
    gap: 3.4rem;
  }
  
  .socialLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5)
  }
  
  .socialLink::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  
  .socialLink::after {
    content: "";
    position: absolute;
    top: 60px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  .socialLink:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  }
  
  /* Facebook */
  .socialList li:nth-child(1) .socialLink:hover {
    background: #3b5999;
  }
  .socialList li:nth-child(1) .socialLink:hover::before {
    background: #2e4a86;
  }
  .socialList li:nth-child(1) .socialLink:hover::after {
    background: #4a69ad;
  }
  
  /* Twitter */
  .socialList li:nth-child(2) .socialLink:hover {
    background: #55acee;
  }
  .socialList li:nth-child(2) .socialLink:hover::before {
    background: #4184b7;
  }
  .socialList li:nth-child(2) .socialLink:hover::after {
    background: #4d9fde;
  }
  
  /* Mail */
  .socialList li:nth-child(3) .socialLink:hover {
    background: #dd4b39;
  }
  .socialList li:nth-child(3) .socialLink:hover::before {
    background: #c13929;
  }
  .socialList li:nth-child(3) .socialLink:hover::after {
    background: #e83322;
  }
  
  /* LinkedIn */
  .socialList li:nth-child(4) .socialLink:hover {
    background: #0077b5;
  }
  .socialList li:nth-child(4) .socialLink:hover::before {
    background: #036aa0;
  }
  .socialList li:nth-child(4) .socialLink:hover::after {
    background: #0d82bf;
  }
  
  /* Instagram */
  .socialList li:nth-child(5) .socialLink:hover {
    background: linear-gradient(#400080, transparent),
      linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  .socialList li:nth-child(5) .socialLink:hover::before {
    background: linear-gradient(#400080, transparent),
      linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  .socialList li:nth-child(5) .socialLink:hover::after {
    background: linear-gradient(#400080, transparent),
      linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }