.btnRotate {
  text-decoration: none;
  border: 2px solid rgb(0, 225, 255);
  color: transparent;

  font-family: sans-serif;
  
  transition: all 0.5s;
  position: relative;

  display: inline-block;
}

.btnRotate:before {
  content: "see details";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  top: 0;
  left: 100%;
  font-family: sans-serif;
  
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

.btnRotate:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

.btnRotate:after {
  content: "see details";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 238, 255);
  background: rgb(34, 34, 34);
  top: 0;
  left: 0;
  font-family: sans-serif;
  
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

.btnRotate:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

