
.container {
    height: 300px;
   
    color: rgb(0, 187, 255);
    perspective: 800px;
  }
  
  .card { 
 
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    position: absolute;
    width: 50%;
    background-color: transparent;
    border: 2px solid black;
    background-color: black;
    top: 0;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 179, 255, 0.7);
  }
  

  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateX(180deg) rotateZ(-180deg);
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 213, 255, 0.7);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .back {
    background-color: black;
    transform: rotateX(180deg) rotateZ(-180deg);
  }
  
  