/* custom.css */
@keyframes moveUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes moveDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .move-up {
    animation: moveUp 10s linear infinite;
    transition: animation 0.3s ease;
  }
  
  .move-down {
    animation: moveDown 10s linear infinite;
    transition: animation 0.3s ease;
  }
  
  img {
    border-radius: 0.75rem; /* md rounded equivalent in CSS */
    transition: transform 0.3s ease, animation 0.3s ease;
  }
  
  /* Hover effect: Turn off animation on hover */
  img:hover {
    animation-play-state: paused;
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  